<!DOCTYPE html>
<html>
<head>
  <title>Produtos</title>
</head>
<body>

<h1>Produtos</h1>

<form method="post" action="/produto">

  <input name="nome" placeholder="Nome">
  <input name="preco" placeholder="Preço">
  <input name="estoque" placeholder="Estoque">

  <select name="categoria_id">
    {% for c in categorias %}
      <option value="{{ c.id }}">{{ c.nome }}</option>
    {% endfor %}
  </select>

  <button>Criar</button>
</form>

<ul>
  {% for p in produtos %}
    <li>
      {{ p.nome }} -
      R$ {{ p.preco }} -
      Estoque: {{ p.estoque }} -
      Categoria: {{ p.categoria.nome }}
    </li>
  {% endfor %}
</ul>

<a href="/">Voltar categorias</a>

</body>
</html>